body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(224, 231, 235);
}
.topSection{
    background-image: linear-gradient(white 94%, rgb(224, 231, 235) 6% );
}
.navbar-brand{
    font-size: 28px;
    font-weight: bolder;
}
.nav-link{
    font-size: 14px;
    font-weight: bold;
}
.navTexts{
    font-size: 15px;
    font-weight: bold;
}
.sign{
    color: white;
}
.sign:hover{
    color: white;
}
.btn{
    background-color: rgb(30, 172, 172);
    border-radius: 20px;
    color: white;
    font-size: 14px;
}
.form-control{
    width:90%;
}
.placeHolder{
    background-color: rgb(18, 26, 26);
    padding: 19px !important;
    width: 100%;
    border-radius: 15px;
}
.shorten{
    background-color: rgb(30, 172, 172) !important;
    outline: none;
    border: none !important;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}
.texts{
    justify-content: center;
    margin-top: 120px !important;
}
.cards{
    margin-top: 100px;
}
.second_card{
    margin-top: 40px;
}
.second_card:before{
    content: '';
    margin-top: 90px;
    position: absolute;
    background-color: rgb(30, 172, 172);
    height: 6px;
    width: 30px;
    margin-left: -31px;
}
.third_card:before{
    content: '';
    margin-top: 50px;
    position: absolute;
    background-color: rgb(30, 172, 172);
    height: 6px;
    width: 30px;
    margin-left: -31px;
}
.third_card{
    margin-top: 80px;
}
.card-text{
        font-size: 14px;
        font-weight: 400;
        word-wrap: break-word;
        line-height: 35px;
}
.boost{
    margin-top: 100px !important;
    background-color: rgb(33, 48, 48);
    color: white;
    padding: 20px;
}
.last{
    background-color: rgb(18, 26, 26);
    color: white;
}
.round{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(33, 48, 48);
    justify-content: center;
    position: absolute;
    margin-top: -60px;
    margin-left: 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}
.wrap p{
    font-size: 14px;
        font-weight: 400;
        word-wrap: break-word;
        width: 500px;
        text-align: center;
        align-items: center;
        
}
.s_icon{
    margin-top: -28px;
}
.t_icon{
margin-top: -25px;
}
.card{
    position: relative !important;
}
.icon{
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    font-size: 25px !important;
}
.card-title{
    margin-top: 40px;
}
@media (max-width:768px) {

    .intro h1{
        font-size: 20px;
    }
    .intro p{
        font-size: 14px;
        word-wrap: break-word;
    }
    .intro button{
        position: relative;
        bottom: 30px;
        width: 150px;
        font-size: 13px;
    }
    .placeHolder{
        height: 120px;
    }
    .form-control{
        height: 30px;
        font-size: 14px;
    }
    .shorten{
        width: 100px;
        height: 50px;
        padding: -10px;
    }
}
@media (max-width:425px) {
    .second_card:before{
        display: none;
    }
    .third_card:before{
        display: none;
    }
}
